<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wettkampf Management</title>
    <link rel="stylesheet" href="/css/wettkampfManagerStyle">
    <link rel="stylesheet" href="/css/wettkampfManager">
</head>

<body>
    <header>
        <div id="header-placeholder"></div>
        <h1>Wettkampf Manager</h1>
    </header>
    <main>
        <div class="container">
            <section class="startseite">
                <h2>Willkommen!</h2>
                <p>Nutze die Navigation, um Wettkämpfe zu verwalten, anzuzeigen oder Daten einzugeben.</p>
            </section>
        </div>

    </main>
    <footer>
        <div id="footer-placeholder"></div>
    </footer>

    <script src="/js/wettkampfManagerJS"></script>
    <script src="/js/wettkampfManager"></script>
</body>

</html>